<h1 class="title is-2">Pokemon: <%= @pokemon.name %></h1>
<p>Hit Points: <strong><%= @pokemon.hit_points %></strong></p>
<p>Attack Strength: <strong><%= @pokemon.attack_strength %></strong></p>
<p>Defensive Strength: <strong><%= @pokemon.defensive_strength %></strong></p>
<p>Special Attack Strength: <strong><%= @pokemon.special_attack_strength %></strong></p>
<p>Special Defensive Strength: <strong><%= @pokemon.special_defensive_strength %></strong></p>
<p><%= link_to 'Find Pokedex Number', pokedex_path %></p>